
header {
	font-size: 2rem;
	margin-top: 5rem;
	margin-left: 20rem;
	font-weight: bold;
	text-decoration: underline;
}

#structures {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

canvas {
	background-color: grey;
	border: 0.125rem solid black;
	margin-top: 10rem;
}